* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0f3d3e; /* DARK SEA GREEN */
  font-family: "Segoe UI", Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
